*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .as{
    background-color: rgba(128, 128, 128, 0.11);
}

li{
    list-style-type: none;
}

.purple{
    background-color:rgba(132, 95, 192, 0.692);
}

.fix{
    clear: both;
}
.bc{
    color: black;
}
.p4{
    padding-top: 4px;
}
.p8{
    padding-top: 8px;
}
.p10{
    padding-top: 14px;
}
.ali-cent{
    align-items: center;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}


.clear{
    clear: both;
}

.bc{
    color: black;
}
.white{
    color: white;
    padding-right: 90px;
}
.pt{
    font-size: 10px;
}
.pm{
   font-size: 10px;
   font-weight: bold;
}
.text-align-center{
    text-align: center;
}
a:hover{
    color: rgb(174, 223, 59);
}
.pb{
    font-size: 15px;
}

.ht{
    font-size: 12px;
    color: red;
    font-weight: bolder;
}
.hb{
    font-size: 6px;
}
.grey{
    color: rgba(128, 128, 128, 0.603);
}
.ta{
    text-align: center;
}
.slide-row{
height: 100%;
}

.l1{
    
    width: 90px;
    height: 100px;
    padding-left: 35px;

}
.red{
    color: red;
}

li, li a{
    color: white;
}
.links {
  background:rgba(20, 15, 15, 0.753);
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 2.8;
}

.footer{
  color: white;
  font-size: 12px;
  text-align: center;
}

a{
    color: darkblue;
}
.btf{
    font-size: 10px;
}
.hd{
   font-size: 12px;
   font-weight: bolder;
}
.cad{
    background-color: darkcyan;
    height: 100%;
    text-align: center;
    justify-content: center;
}
.ft{
    display: flex;
    height: 300px;
}
.pt1{
    width: 30%;
}
.pt2{
    width: 70%;
}
.ovt{
    height: calc(100% - 15px);
    margin-bottom: 15px;
}

@media(max-width:800px){
    .links-inner{
        display: grid;
        grid-template-columns:auto ;
        align-items: center;
    }
   .hd{
       text-decoration: underline;
       font-size: 20px;
   }
}
